section.sec-feedbackForm
    .container
        .body-feedbackForm
            .wr-feedbackForm
                .feedbackForm__title Остались вопросы?
                .feedbackForm__text Оставьте заявку и получите статью "Как проконтролировать строительную бригаду и не потерять деньги"
                form.feedbackForm-f
                    .wrapper-inputs
                        input#name.wrapper-field-input(placeholder="Ваше имя")

                        input#phone.wrapper-field-input(placeholder="Ваш телефон")

                    .politics Нажав на кнопку, я даю согласие на обработку персональных данных
                    .button.feedbackForm__btn Отправить
            .feedbackForm__img.b-lazy(data-src="img/delivery.png")
