section.sec-card-good
    .container
        .body-card-good
            .body-slider
                .wrapper-slider-large
                    .swiper-container.slider-large-container
                        .swiper-wrapper.slider-large-wrapper
                            .swiper-slide.slider-large-slide.swiper-lazy(data-background="img/main/main-1.png")
                                .swiper-lazy-preloader
                            .swiper-slide.slider-large-slide.swiper-lazy(data-background="img/main/main-2.png")
                                .swiper-lazy-preloader
                            .swiper-slide.slider-large-slide.swiper-lazy(data-background="img/main/main-3.png")
                                .swiper-lazy-preloader
                            .swiper-slide.slider-large-slide.swiper-lazy(data-background="img/main/main-4.png")
                                .swiper-lazy-preloader

                .wrapper-slider-little
                    .swiper-container.slider-little-container
                        .swiper-wrapper.slider-little-wrapper
                            .swiper-slide.slider-little-slide.swiper-lazy(data-background="img/main/main-1.png")
                                .swiper-lazy-preloader
                            .swiper-slide.slider-little-slide.swiper-lazy(data-background="img/main/main-2.png")
                                .swiper-lazy-preloader
                            .swiper-slide.slider-little-slide.swiper-lazy(data-background="img/main/main-3.png")
                                .swiper-lazy-preloader
                            .swiper-slide.slider-little-slide.swiper-lazy(data-background="img/main/main-4.png")
                                .swiper-lazy-preloader

            .body-contant
                .descript
                    p Для оригинальной и изысканной декоративной отделки внутренних помещений разработана новинка — продукт Stucco Decor DI LUCE. С его помощью можно без особых усилий создать благородные глянцевые поверхности, придающие Вашему дому или офису презентабельный вид.
                    p В зависимости от выбранного инструмента и характера исполнения возможно достижение разнообразных оптических эффектов. Венецианский стиль, «под мрамор» или пятнистые разводы — различные стили можно воплотить легко и без проблем, с неповторимым и элегантным шармом. Глянец при этом можно усилить до достижения зеркального отражения. Этот эффект зрительно расширяет помещения, оживляет их и придает им исключительный характер.
                    p Фасовка 16 кг.
                .wrapper-price-btn
                    .price
                        .price__top Цена за 1м <sub> 2</sub>
                        .price__bottom
                            .price__new 400 ₽
                            .price__old 580 ₽
                    .productQuantity-btn
                        .card-info__quantity
                            .card-info__minus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                            input.card-info__number(value=1)
                            .card-info__plus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")

                        .button.popular__btn В корзину
                    .text
                        h2 Доставка:
                        p Доставка по Краснодару - 500р
                        p Самовывоз из магазина - Бесплатно