section.sec-catalog
    .container
        .sorting-settings-block
            .sorting-settings-block__sorting-wr
                .sorting-settings-block__sorting Сортировать :
                .wrapper-size
                    .wrapper-input
                        input(type="hidden" value="")
                        .choice-of-size.select-value.price-text  возрастанию цены

                    .ii-product__selectors-wrp.js_size_selector
                        .wrapper-list
                            .list
                                .list__itams.inp-desc(data-value="1") по возрастанию цены
                                .list__itams.inp-mobl(data-value="1") ценa ↑
                                .list__itams.inp-desc(data-value="2") по убыванию цены
                                .list__itams.inp-mobl(data-value="2") ценa ↓
                                .list__itams(data-value="3")  по пулярности
                                .list__itams(data-value="4")  по новизне
            .sorting-settings-block__settings-wr
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/settings.svg" data-src-small="img/ic/settings.svg")

        .body-catalog
            include saitbar
            .wrapper-catalog
                .card-good-body
                    a.card-good__img.b-lazy(data-src="img/main/main-1.png" href="#")
                        .sale
                            .num -30%

                    .name-favorite
                        a.name(href="#") Туф
                        .favorite-popular
                            img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                            img.b-lazy.favorite.active(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                    .descript Декоративный материал, имитирующий природный камень.
                    .price
                        .price__top Цена за 1м <sub> 2</sub>
                        .price__bottom
                            .price__new 400 ₽
                            .price__old 580 ₽
                    .productQuantity-btn
                        .card-info__quantity
                            .card-info__minus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                            input.card-info__number(value=1)
                            .card-info__plus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")

                        .popular__btn.button В корзину
                .card-good-body
                    a.card-good__img.b-lazy(data-src="img/main/main-1.png" href="#")
                        .sale
                            .num -30%

                    .name-favorite
                        a.name(href="#") Туф
                        .favorite-popular
                            img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                            img.b-lazy.favorite.active(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                    .descript Декоративный материал, имитирующий природный камень.
                    .price
                        .price__top Цена за 1м <sub> 2</sub>
                        .price__bottom
                            .price__new 400 ₽
                            .price__old 580 ₽
                    .productQuantity-btn
                        .card-info__quantity
                            .card-info__minus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                            input.card-info__number(value=1)
                            .card-info__plus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")

                        .popular__btn.button В корзину
                .card-good-body
                    a.card-good__img.b-lazy(data-src="img/main/main-1.png" href="#")
                        .sale
                            .num -30%

                    .name-favorite
                        a.name(href="#") Туф
                        .favorite-popular
                            img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                            img.b-lazy.favorite.active(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                    .descript Декоративный материал, имитирующий природный камень.
                    .price
                        .price__top Цена за 1м <sub> 2</sub>
                        .price__bottom
                            .price__new 400 ₽
                            .price__old 580 ₽
                    .productQuantity-btn
                        .card-info__quantity
                            .card-info__minus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                            input.card-info__number(value=1)
                            .card-info__plus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")

                        .popular__btn.button В корзину
                .card-good-body
                    a.card-good__img.b-lazy(data-src="img/main/main-1.png" href="#")
                        .sale
                            .num -30%

                    .name-favorite
                        a.name(href="#") Туф
                        .favorite-popular
                            img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                            img.b-lazy.favorite.active(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                    .descript Декоративный материал, имитирующий природный камень.
                    .price
                        .price__top Цена за 1м <sub> 2</sub>
                        .price__bottom
                            .price__new 400 ₽
                            .price__old 580 ₽
                    .productQuantity-btn
                        .card-info__quantity
                            .card-info__minus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                            input.card-info__number(value=1)
                            .card-info__plus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")

                        .popular__btn.button В корзину
                .card-good-body
                    a.card-good__img.b-lazy(data-src="img/main/main-1.png" href="#")
                        .sale
                            .num -30%

                    .name-favorite
                        a.name(href="#") Туф
                        .favorite-popular
                            img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                            img.b-lazy.favorite.active(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                    .descript Декоративный материал, имитирующий природный камень.
                    .price
                        .price__top Цена за 1м <sub> 2</sub>
                        .price__bottom
                            .price__new 400 ₽
                            .price__old 580 ₽
                    .productQuantity-btn
                        .card-info__quantity
                            .card-info__minus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                            input.card-info__number(value=1)
                            .card-info__plus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")

                        .popular__btn.button В корзину
                .card-good-body
                    a.card-good__img.b-lazy(data-src="img/main/main-1.png" href="#")
                        .sale
                            .num -30%

                    .name-favorite
                        a.name(href="#") Туф
                        .favorite-popular
                            img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                            img.b-lazy.favorite.active(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                    .descript Декоративный материал, имитирующий природный камень.
                    .price
                        .price__top Цена за 1м <sub> 2</sub>
                        .price__bottom
                            .price__new 400 ₽
                            .price__old 580 ₽
                    .productQuantity-btn
                        .card-info__quantity
                            .card-info__minus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                            input.card-info__number(value=1)
                            .card-info__plus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")

                        .popular__btn.button В корзину
