form.saitbar
    .btn-close-sitings
        img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/close.svg" data-src-small="img/ic/close.svg")
    .saitbar__block-filter
        .filter__ttitle Категории
        .body-filter
            .item-el
                .category-filter Декоративные штукатурки
                .wrapper-radio(style="display: none;")
                    input#product-type_1(type="radio" name="product-type" value="Эффектные покрытия" checked).input-radio
                    label(for="product-type_1").label-radio Эффектные покрытия

                    input#product-type_2(type="radio" name="product-type" value="Среднефактурные покрытия").input-radio
                    label(for="product-type_2").label-radio Среднефактурные покрытия

                    input#product-type_3(type="radio" name="product-type" value="Фактурные покрытия").input-radio
                    label(for="product-type_3").label-radio Фактурные покрытия

                    input#product-type_4(type="radio" name="product-type" value="Бетон").input-radio
                    label(for="product-type_4").label-radio Бетон

                    input#product-type_5(type="radio" name="product-type" value="Мрамор").input-radio
                    label(for="product-type_5").label-radio Мрамор
            .item-el
                .category-filter Караски
                .wrapper-radio(style="display: none;")
                    input#product-type_1(type="radio" name="product-type" value="Эффектные покрытия" checked).input-radio
                    label(for="product-type_1").label-radio Эффектные покрытия

                    input#product-type_2(type="radio" name="product-type" value="Среднефактурные покрытия").input-radio
                    label(for="product-type_2").label-radio Среднефактурные покрытия

                    input#product-type_3(type="radio" name="product-type" value="Фактурные покрытия").input-radio
                    label(for="product-type_3").label-radio Фактурные покрытия

                    input#product-type_4(type="radio" name="product-type" value="Бетон").input-radio
                    label(for="product-type_4").label-radio Бетон

                    input#product-type_5(type="radio" name="product-type" value="Мрамор").input-radio
                    label(for="product-type_5").label-radio Мрамор
            .item-el
                .category-filter Верхние покрытия
                .wrapper-radio(style="display: none;")
                    input#product-type_1(type="radio" name="product-type" value="Эффектные покрытия" checked).input-radio
                    label(for="product-type_1").label-radio Эффектные покрытия

                    input#product-type_2(type="radio" name="product-type" value="Среднефактурные покрытия").input-radio
                    label(for="product-type_2").label-radio Среднефактурные покрытия

                    input#product-type_3(type="radio" name="product-type" value="Фактурные покрытия").input-radio
                    label(for="product-type_3").label-radio Фактурные покрытия

                    input#product-type_4(type="radio" name="product-type" value="Бетон").input-radio
                    label(for="product-type_4").label-radio Бетон

                    input#product-type_5(type="radio" name="product-type" value="Мрамор").input-radio
                    label(for="product-type_5").label-radio Мрамор
            .item-el
                .category-filter Акустические материалы
                .wrapper-radio(style="display: none;")
                    input#product-type_1(type="radio" name="product-type" value="Эффектные покрытия" checked).input-radio
                    label(for="product-type_1").label-radio Эффектные покрытия

                    input#product-type_2(type="radio" name="product-type" value="Среднефактурные покрытия").input-radio
                    label(for="product-type_2").label-radio Среднефактурные покрытия

                    input#product-type_3(type="radio" name="product-type" value="Фактурные покрытия").input-radio
                    label(for="product-type_3").label-radio Фактурные покрытия

                    input#product-type_4(type="radio" name="product-type" value="Бетон").input-radio
                    label(for="product-type_4").label-radio Бетон

                    input#product-type_5(type="radio" name="product-type" value="Мрамор").input-radio
                    label(for="product-type_5").label-radio Мрамор
