form.saitbar
    .btn-close-sitings
        img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/close.svg" data-src-small="img/ic/close.svg")
    .saitbar__block-filter
        .filter__ttitle Категории
        .body-filter
            .item-el
                .dropDownList-title.category-filter Декоративные штукатурки
                .dropDownList-hidden.wrapper-radio(style="display: none;")
                    input#product-type_1(type="radio" name="product-type" value="Эффектные покрытия" checked).input-radio
                    label(for="product-type_1").label-radio Эффектные покрытия

                    input#product-type_2(type="radio" name="product-type" value="Среднефактурные покрытия").input-radio
                    label(for="product-type_2").label-radio Среднефактурные покрытия

                    input#product-type_3(type="radio" name="product-type" value="Фактурные покрытия").input-radio
                    label(for="product-type_3").label-radio Фактурные покрытия

                    input#product-type_4(type="radio" name="product-type" value="Бетон").input-radio
                    label(for="product-type_4").label-radio Бетон

                    input#product-type_5(type="radio" name="product-type" value="Мрамор").input-radio
                    label(for="product-type_5").label-radio Мрамор
            .item-el
                .dropDownList-title.category-filter Караски
                .dropDownList-hidden.wrapper-radio(style="display: none;")
                    input#product-type_1(type="radio" name="product-type" value="Эффектные покрытия" checked).input-radio
                    label(for="product-type_1").label-radio Эффектные покрытия

                    input#product-type_2(type="radio" name="product-type" value="Среднефактурные покрытия").input-radio
                    label(for="product-type_2").label-radio Среднефактурные покрытия

                    input#product-type_3(type="radio" name="product-type" value="Фактурные покрытия").input-radio
                    label(for="product-type_3").label-radio Фактурные покрытия

                    input#product-type_4(type="radio" name="product-type" value="Бетон").input-radio
                    label(for="product-type_4").label-radio Бетон

                    input#product-type_5(type="radio" name="product-type" value="Мрамор").input-radio
                    label(for="product-type_5").label-radio Мрамор
            .item-el
                .dropDownList-title.category-filter Верхние покрытия
                .dropDownList-hidden.wrapper-radio(style="display: none;")
                    input#product-type_1(type="radio" name="product-type" value="Эффектные покрытия" checked).input-radio
                    label(for="product-type_1").label-radio Эффектные покрытия

                    input#product-type_2(type="radio" name="product-type" value="Среднефактурные покрытия").input-radio
                    label(for="product-type_2").label-radio Среднефактурные покрытия

                    input#product-type_3(type="radio" name="product-type" value="Фактурные покрытия").input-radio
                    label(for="product-type_3").label-radio Фактурные покрытия

                    input#product-type_4(type="radio" name="product-type" value="Бетон").input-radio
                    label(for="product-type_4").label-radio Бетон

                    input#product-type_5(type="radio" name="product-type" value="Мрамор").input-radio
                    label(for="product-type_5").label-radio Мрамор
            .item-el
                .dropDownList-title.category-filter Акустические материалы
                .dropDownList-hidden.wrapper-radio(style="display: none;")
                    input#product-type_1(type="radio" name="product-type" value="Эффектные покрытия" checked).input-radio
                    label(for="product-type_1").label-radio Эффектные покрытия

                    input#product-type_2(type="radio" name="product-type" value="Среднефактурные покрытия").input-radio
                    label(for="product-type_2").label-radio Среднефактурные покрытия

                    input#product-type_3(type="radio" name="product-type" value="Фактурные покрытия").input-radio
                    label(for="product-type_3").label-radio Фактурные покрытия

                    input#product-type_4(type="radio" name="product-type" value="Бетон").input-radio
                    label(for="product-type_4").label-radio Бетон

                    input#product-type_5(type="radio" name="product-type" value="Мрамор").input-radio
                    label(for="product-type_5").label-radio Мрамор

    .saitbar__block-filter
        .filter__ttitle Бренды
        .body-filter
            .item-el-check
                .wrapper-checkbox
                    input#check1(type="checkbox" name="product-type" value="Caparol" checked).input-checkbox
                    label(for="check1").label-checkbox Caparol

                    input#check2(type="checkbox" name="product-type" value="Paint & Paper Library").input-checkbox
                    label(for="check2").label-checkbox Paint & Paper Library

                    input#check3(type="checkbox" name="product-type" value="STO Color").input-checkbox
                    label(for="check3").label-checkbox STO Color

                    input#check4(type="checkbox" name="product-type" value="Ecophon").input-checkbox
                    label(for="check4").label-checkbox Ecophon

                    input#check5(type="checkbox" name="product-type" value="Metallocryl").input-checkbox
                    label(for="check5").label-checkbox Metallocryl

    .saitbar__block-filter
        .filter__ttitle Цена
        .body-filter
            .filter-slider-price
                .range(data-width="100" data-type="double" data-units="")
                    .range-fill
                    span.min-range-item(data-value="0")
                    span.max-range-item(data-value="20000")

                .info
                    .min-box
                        span.min-price
                        span р
                    .max-box
                        span.max-price
                        span р
            .wrapper-btn
                .btn-filter__Cancel  Сбросить
                .btn-filter.button_no-background Применить

