.new-card{
  background: #FFFDFD;
  color: $color_3b;
  display: block;
}

.new-card__img{
  background: #d0beb0;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.new-card__name{
  padding: 0 15px;
  margin-top: 20px;
  @include adaptiv-font(20,18);
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid $color_4g;
}

.new-card__descript{
  padding: 0 15px;
  @include adaptiv-font(16,14);
  font-weight: 400;
  margin-top: 15px;
  @include adaptiv-margin-bottom( 30,20 );
}

.new-card__more{
  padding: 0 15px 15px;
  @include adaptiv-font(16,14);
  font-weight: 500;
}