//-----------ОСНОВНЫЕ ЦВЕТА------------------
$color_1e: #F5DF4D;
$color_2w: #FFFFFF;
$color_3b: #161616;
$color_4g: #BDBBBB;
$link-img: '';


body {
  font-family: 'Montserrat', sans-serif;
  color: $color_3b;
  font-weight: 400;
  min-height: 100vh;
  line-height: 1.5;
  background: $color_2w;
  @include adaptiv-font(16,14);
}

//-----------Кнопка основная------------------

.button{
  background: $color_1e;
  color: $color_3b;
  text-align: center;
  padding: 15px 20px;
  cursor: pointer;
  transition: .5s;
  width: fit-content;
  border: 1px solid $color_1e;
  @include adaptiv-font(16,14);
  font-weight: 400;
  text-transform: uppercase;

  &:hover{
    color: $color_3b;
    border: 1px solid $color_3b;
    background: none;
  }
  
}

.button_no-background{
  color: $color_3b;
  text-align: center;
  padding: 18px 25px;
  cursor: pointer;
  transition: .5s;
  width: fit-content;
  border: 1px solid $color_3b;
  @include adaptiv-font(16,14);
  font-weight: 400;
  text-transform: uppercase;

  &:hover{
    color: $color_3b;
    border: 1px solid $color_1e;
    background: $color_1e;
  }

}

//------------Заголовки и подзоголовки-----------------
.title-offer{
  @include adaptiv-font(54,30);
  font-weight: 700;
  span{
    color: $color_1e;
  }
}

.title{
  @include adaptiv-font(36,24);
  font-weight: 700;
}

.title-h3{
  @include adaptiv-font(20,18);
  font-weight: 600;
  @include maq('tablet-wide') {
    text-align: center;
  }
}
a{
  color: $color_3b;
}


//*=============================================
%flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
//=============================================

//==============СКРОЛЛ НА МОБИЛЕ===============
.BLOCK-SCROLL {
  width: 100%;
  overflow: auto;
  padding: 1rem;
}
@media only screen and (max-width: 990px) {
  .BLOCK-SCROLL_WIDTH {
    display: flex;
    width: 100%;
    padding: 0 15px 0 0;
  }
}

.NO-SKROLL {
  height: 100vh;
  overflow: hidden;
}

//*=============================================

.container{
  width: 100%;
  padding: 0 15px;
  position: relative;
  margin: auto;
  display: block;
  @include mq('phablet') {
    max-width: 540px;
  }
  @include mq('tablet') {
    max-width: 720px;
  }
  @include mq('tablet-990') {
    max-width: 960px;
  }
  @include mq('desktop') {
    max-width: 1180px;
  }
  @include mq('desktop-wide') {
    max-width: 1320px;
  }
  @include mq('2K') {
    max-width: 1585px;
  }
}

.square{

  li{
    @if ($link-img == '') {
      background-image: url("./../img/ic/square.svg");
    } @else {
      background-image: url($link-img + "/img/ic/square.svg");
    }
    padding-left: 30px;
    background-position: left;
    background-repeat: no-repeat;
  }
}
.d-none{
  display: none;
}