.label-radio{
  @include adaptiv-font(16,14);
  padding: 10px 5px;
  cursor: pointer;
  &:hover{
    color: $color_1e;
    font-weight: bold;
  }
}

.input-radio{
  display: none;
}

.input-radio:checked + .label-radio{
  color: $color_1e;
  font-weight: bold;
}




.label-checkbox {
  display: block;
  cursor: pointer;
  position: relative;
  padding: 5px 0 0 36px;
  margin-right: 15px;
  @include adaptiv-font(16, 14);
  font-weight: bold;
  margin-bottom: 25px;
}

.input-radio[type=radio],
.input-checkbox[type=checkbox],
.input-checkbox[type=radio] {
  display: none;
}

.label-checkbox:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 5px;
  bottom: 1px;
  border: 1px solid $color_3b;
}

.input-checkbox[type=checkbox]:checked + .label-checkbox:after,
.input-checkbox[type=radio]:checked + .label-checkbox:after{
  content: "";
  @if ($link-img == '') {
    background-image: url("../img/ic/checkbox.svg");
  } @else {
    background-image: url($link-img + "/img/ic/checkbox.svg");
  }
  background-position: 4px 0px;
  background-repeat: no-repeat;
  top: 0px;
  left: 0;
  position: absolute;
  display: block;
  width: 27px;
  height: 25px;
}

