.dropDownList-title Декоративные штукатурки
.dropDownList-hidden(style="display: none;")
    input#product-type_1(type="radio" name="product-type" value="Эффектные покрытия" checked).input-radio
    label(for="product-type_1").label-radio Эффектные покрытия

    input#product-type_2(type="radio" name="product-type" value="Среднефактурные покрытия").input-radio
    label(for="product-type_2").label-radio Среднефактурные покрытия