section.sec-blog
    .container
        .body-blog
            a.new-card(href="#")
                .new-card__img.b-lazy(data-src="img/main/main-01.png")

                .new-card__name Декоративная штукатурка Sun Marcko: для тех кто выбирает лучшее
                .new-card__descript В наши дни компания стала одним из лидеров строительного рынка. При производстве лаков, красок и покрытий применяются новые технологии, разрабатываемые  ...
                .new-card__more Читать далее
            a.new-card(href="#")
                .new-card__img.b-lazy(data-src="img/main/main-02.png")

                .new-card__name Декоративная штукатурка Sun Marcko: для тех кто выбирает лучшее
                .new-card__descript В наши дни компания стала одним из лидеров строительного рынка. При производстве лаков, красок и покрытий применяются новые технологии, разрабатываемые  ...
                .new-card__more Читать далее
            a.new-card(href="#")
                .new-card__img.b-lazy(data-src="img/main/main-03.png")

                .new-card__name Декоративная штукатурка Sun Marcko: для тех кто выбирает лучшее
                .new-card__descript В наши дни компания стала одним из лидеров строительного рынка. При производстве лаков, красок и покрытий применяются новые технологии, разрабатываемые  ...
                .new-card__more Читать далее
            a.new-card(href="#")
                .new-card__img.b-lazy(data-src="img/main/main-04.png")

                .new-card__name Декоративная штукатурка Sun Marcko: для тех кто выбирает лучшее
                .new-card__descript В наши дни компания стала одним из лидеров строительного рынка. При производстве лаков, красок и покрытий применяются новые технологии, разрабатываемые  ...
                .new-card__more Читать далее
            a.new-card(href="#")
                .new-card__img.b-lazy(data-src="img/main/main-04.png")

                .new-card__name Декоративная штукатурка Sun Marcko: для тех кто выбирает лучшее
                .new-card__descript В наши дни компания стала одним из лидеров строительного рынка. При производстве лаков, красок и покрытий применяются новые технологии, разрабатываемые  ...
                .new-card__more Читать далее
            a.new-card(href="#")
                .new-card__img.b-lazy(data-src="img/main/main-02.png")

                .new-card__name Декоративная штукатурка Sun Marcko: для тех кто выбирает лучшее
                .new-card__descript В наши дни компания стала одним из лидеров строительного рынка. При производстве лаков, красок и покрытий применяются новые технологии, разрабатываемые  ...
                .new-card__more Читать далее
            a.new-card(href="#")
                .new-card__img.b-lazy(data-src="img/main/main-03.png")

                .new-card__name Декоративная штукатурка Sun Marcko: для тех кто выбирает лучшее
                .new-card__descript В наши дни компания стала одним из лидеров строительного рынка. При производстве лаков, красок и покрытий применяются новые технологии, разрабатываемые  ...
                .new-card__more Читать далее
            a.new-card(href="#")
                .new-card__img.b-lazy(data-src="img/main/main-01.png")

                .new-card__name Декоративная штукатурка Sun Marcko: для тех кто выбирает лучшее
                .new-card__descript В наши дни компания стала одним из лидеров строительного рынка. При производстве лаков, красок и покрытий применяются новые технологии, разрабатываемые  ...
                .new-card__more Читать далее
        include ./../../pug/pagination