section.sec-contacts
    .container
        .body-contacts
            .contacts__info
                .contacts-info__el
                    .contacts-info__title  Адрес
                    .contacts-info__address г. Краснодар, ул. Вишняковой, 2
                    .contacts-info__address г. Краснодар, ул. Вишняковой, 2
                    .contacts-info__address г. Краснодар, ул. Вишняковой, 2

                .contacts-info__el
                    .contacts-info__title Телефон:
                    a(href="tel.:+79385451137").contacts-info-link
                        .contacts-info-link__ic
                            img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/phone.svg" data-src-small="img/ic/phone.svg")
                        .contacts-info-link__text +7 (938) 545-11-37
                    a(href="https://wa.me/+79385451137" target="_blank").contacts-info-link
                        .contacts-info-link__ic
                            img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/whatsapp.svg" data-src-small="img/ic/whatsapp.svg")
                        .contacts-info-link__text +7 (938) 545-11-37

                .contacts-info__el
                    a(href="https://www.instagram.com/slon_decor_rus/" target="_blank").contacts-info-link
                        .contacts-info-link__ic
                            img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/inst-b.svg" data-src-small="img/ic/inst-b.svg")
                        .contacts-info-link__text @slon_decor_rus

            .contacts__map
                .wrapper-map
                    #map