.body-cooki
    a.cooki-btn-close(href="#")
        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/close-e.svg" data-src-small="img/ic/close-e.svg" alt="")
    .wrapper-contant-cooki
        .contant-cooki__img
            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/cookie.png" data-src-small="img/cookie.png" alt="")
        .contant-cooki__text
            p Этот сайт использует cookie и собирает про вас информацию чтоб потом выкинуть рекламу, надеюсь все согласны.
