footer.footer
    .container
        .body-top-footer
            .footer__logo
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/Logo-w.svg" data-src-small="img/ic/Logo-w.svg")
            ul.footer__menu
                a.footer__menu-title(href="#") Категории
                li
                    a(href="#") Декоративные штукатурки
                li
                    a(href="#") Краски
            ul.footer__menu
                a.footer__menu-title(href="#") Покупателям
                li
                    a(href="#") О компании
                li
                    a(href="#") Контакты
                li
                    a(href="#") Блог
            ul.footer__menu
                a.footer__menu-title(href="#") Сервис
                li
                    a(href="#") Гарантия и возврат
                li
                    a(href="#") Доставка и оплата
            ul.footer__menu
                a.footer__menu-title(href="#") Партнёрам
                li
                    a(href="#") Гарантия и возврат
                li
                    a(href="#") Доставка и оплата
            .footer__socialNetworks
                .footer__menu-title Мы в социальных сетях:
                .wr-soc
                    a.socialNetworks__ic(href="#")
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/inst-w.svg" data-src-small="img/ic/inst-w.svg")
                    a.socialNetworks__ic(href="#")
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/vk-w.svg" data-src-small="img/ic/vk-w.svg")
        .body-bottom-footer
            .cop © 2020 ООО “Магазин Слон”
            a.pol(href="#") Политика конфиденциальности
            a(href="#").lab
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/lab.svg" data-src-small="img/ic/lab.svg")


