header.header
    .container
        .body-header
            .wrapper-gamburger
                button.cmn-toggle-switch.cmn-toggle-switch__htx
                    span toggle menu
            .wrapper-logo
                a(href="/").logo
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/Logo.svg" data-src-small="img/ic/Logo.svg")

            .wrapper-phone
                a(href="tel:8 800 000-00-01") 8 800 000-00-01
                a(href="tel:8 800 000-00-01") 8 800 000-00-01

            .wrapper-menu
                ul.menu
                    li.link-menu
                        .second-menu Категории
                        ul.second-ul
                            li
                                a(href="#") Девочкам
                            li
                                a(href="#") Мальчикам
                            li
                                a(href="#") Сезоннные
                            li
                                a(href="#") Акции

                    li.link-menu
                        .second-menu Покупателям
                        ul.second-ul
                            li
                                a(href="#") О компании
                            li
                                a(href="#") Контакты
                            li
                                a(href="#") Размерная сетка
                            li
                                a(href="#") Блог
                    li.link-menu
                        a(href="#").path-menu Сервис




                .wrapper-soc-menu
                    .wrapper-soc-menu__title Мы в социальных сетях:
                    a(href="#").soc-link
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5042 0.520798C6.19687 0.520798 4.99062 0.356214 3.41354 1.14267C1.96146 1.86559 0.91875 3.2333 0.654166 5.06559C0.572916 5.62496 0.55 5.73955 0.544791 8.60205C0.523958 19.1864 0.384375 19.977 1.14479 21.5541C1.77708 22.8698 2.98542 23.8583 4.40937 24.227C5.54792 24.5208 6.30521 24.4791 12.4792 24.4791C17.6542 24.4791 19.2635 24.5718 20.6062 24.225C22.0385 23.8541 23.225 22.8812 23.8708 21.5468C24.6375 19.9614 24.4573 18.8406 24.4573 12.4927C24.4573 6.41351 24.6625 5.06038 23.8583 3.4208C23.5833 2.86142 23.2781 2.44267 22.8354 2.01559C21.0354 0.292673 18.8917 0.526006 16.3969 0.520798H12.5042Z" fill="url(#paint0_linear)"/>
                        <path d="M12.5001 18.2677C9.31992 18.2677 6.73242 15.6802 6.73242 12.5C6.73242 9.31977 9.31992 6.73227 12.5001 6.73227C15.6803 6.73227 18.2678 9.31977 18.2678 12.5C18.2678 15.6802 15.6803 18.2677 12.5001 18.2677Z" fill="white"/>
                        <path d="M19.124 6.78548C18.6229 6.78548 18.2146 6.37819 18.2146 5.87611C18.2146 5.37403 18.6219 4.96674 19.124 4.96674C19.6261 4.96674 20.0333 5.37403 20.0333 5.87611C20.0333 6.37819 19.625 6.78548 19.124 6.78548Z" fill="white"/>
                        <path d="M4.94792 25H20.0521C22.7802 25 25 22.7802 25 20.0521V4.94792C25 2.21979 22.7802 0 20.0521 0H4.94792C2.21979 0 0 2.21979 0 4.94792V20.0521C0 22.7802 2.21979 25 4.94792 25ZM1.5625 4.94792C1.5625 3.08125 3.08125 1.5625 4.94792 1.5625H20.0521C21.9187 1.5625 23.4375 3.08125 23.4375 4.94792V20.0521C23.4375 21.9187 21.9187 23.4375 20.0521 23.4375H4.94792C3.08125 23.4375 1.5625 21.9187 1.5625 20.0521V4.94792Z" fill="black"/>
                        <path d="M12.4999 18.8854C16.0208 18.8854 18.8853 16.0208 18.8853 12.5C18.8853 8.97918 16.0208 6.11459 12.4999 6.11459C8.97909 6.11459 6.1145 8.97918 6.1145 12.5C6.1145 16.0208 8.97909 18.8854 12.4999 18.8854ZM12.4999 7.67709C15.1593 7.67709 17.3228 9.84063 17.3228 12.5C17.3228 15.1594 15.1593 17.3229 12.4999 17.3229C9.84054 17.3229 7.677 15.1594 7.677 12.5C7.677 9.84063 9.84054 7.67709 12.4999 7.67709Z" fill="black"/>
                        <path d="M19.123 7.66876C20.1501 7.66876 20.924 6.89793 20.924 5.87605C20.924 4.81043 20.1095 4.08334 19.124 4.08334C18.097 4.08334 17.323 4.85418 17.323 5.87605C17.323 6.93959 18.1334 7.66876 19.123 7.66876ZM19.3074 5.70418C19.6365 5.9948 18.8855 6.34793 18.8855 5.87709C18.8855 5.59584 19.2678 5.66876 19.3074 5.70418Z" fill="black"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="2.09188" y1="22.9083" x2="24.3067" y2="3.67922" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFDD55"/>
                        <stop offset="0.5" stop-color="#FF543E"/>
                        <stop offset="1" stop-color="#C837AB"/>
                        </linearGradient>
                        </defs>
                        </svg>
                    a(href="#").soc-link
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.4812 16.2388C24.0162 15.6488 24.15 15.385 24.4812 14.8575C24.4875 14.8512 28.3237 9.51625 28.7188 7.7075L28.7212 7.70625C28.9187 7.0475 28.7212 6.5625 27.7712 6.5625H24.6275C23.8275 6.5625 23.4587 6.97875 23.2612 7.44375C23.2612 7.44375 21.66 11.2988 19.3962 13.7975C18.665 14.52 18.3288 14.7512 17.9288 14.7512C17.7313 14.7512 17.4263 14.52 17.4263 13.86C17.24 7.785 17.93 6.5625 16.54 6.5625H11.5988C11.0963 6.5625 10.7987 6.93125 10.7987 7.275C10.7987 8.02375 11.93 8.1975 12.0475 10.3062V14.8837C12.0475 18.5925 8.12625 13.1275 6.26625 7.77125C5.9575 6.91125 5.65375 6.56375 4.8475 6.56375H1.70375C0.80625 6.56375 0.625 6.98 0.625 7.445C0.625 8.2675 1.6925 12.3537 5.59375 17.7537C8.19375 21.44 11.8538 23.4375 15.185 23.4375C17.1862 23.4375 17.4312 22.9937 17.4312 22.23C17.4312 18.7075 17.25 18.375 18.2537 18.375C18.7188 18.375 19.5188 18.6062 21.3875 20.3837C23.5225 22.4925 23.8737 23.4363 25.07 23.4363H28.2137C29.11 23.4363 29.5637 22.9925 29.3025 22.1175C28.7037 20.2788 24.6637 16.4925 24.4812 16.2388Z" fill="#4B729F"/>
                        <path d="M15.1813 24.375C19.5212 24.375 17.9738 21.6275 18.3088 20.8375C18.3038 20.2475 18.2987 19.68 18.3188 19.335C18.5938 19.4125 19.2425 19.7412 20.5825 21.0437C22.6512 23.1312 23.18 24.375 24.8512 24.375H27.9275C28.9025 24.375 29.41 23.9713 29.6638 23.6325C29.9088 23.305 30.1488 22.73 29.8862 21.835C29.2 19.68 25.1975 15.9587 24.9487 15.5662C24.9862 15.4937 25.0462 15.3975 25.0775 15.3475H25.075C25.865 14.3038 28.88 9.78625 29.3237 7.97875C29.325 7.97625 29.3263 7.9725 29.3263 7.96875C29.5662 7.14375 29.3463 6.60875 29.1187 6.30625C28.7763 5.85375 28.2313 5.625 27.495 5.625H24.4188C23.3888 5.625 22.6075 6.14375 22.2125 7.09C21.5513 8.77125 19.6938 12.2288 18.3013 13.4525C18.2587 11.7188 18.2875 10.395 18.31 9.41125C18.355 7.4925 18.5 5.625 16.5087 5.625H11.6737C10.4262 5.625 9.2325 6.9875 10.525 8.605C11.655 10.0225 10.9312 10.8125 11.175 14.745C10.225 13.7262 8.535 10.975 7.34 7.45875C7.005 6.5075 6.4975 5.62625 5.06875 5.62625H1.9925C0.745 5.62625 0 6.30625 0 7.445C0 10.0025 5.66125 24.375 15.1813 24.375ZM5.06875 7.50125C5.34 7.50125 5.3675 7.50125 5.56875 8.0725C6.7925 11.6762 9.5375 17.0088 11.5425 17.0088C13.0487 17.0088 13.0487 15.465 13.0487 14.8837L13.0475 10.2562C12.965 8.725 12.4075 7.9625 12.0413 7.5L16.4263 7.505C16.4287 7.52625 16.4013 12.6237 16.4387 13.8587C16.4387 15.6125 17.8312 16.6175 20.005 14.4175C22.2987 11.8288 23.885 7.95875 23.9487 7.80125C24.0425 7.57625 24.1238 7.5 24.4188 7.5H27.495H27.5075C27.5063 7.50375 27.5063 7.5075 27.505 7.51125C27.2237 8.82375 24.4475 13.0063 23.5188 14.305C23.5037 14.325 23.49 14.3463 23.4762 14.3675C23.0675 15.035 22.735 15.7725 23.5325 16.81H23.5337C23.6062 16.8975 23.795 17.1025 24.07 17.3875C24.925 18.27 27.8575 21.2875 28.1175 22.4875C27.945 22.515 27.7575 22.495 24.8512 22.5012C24.2325 22.5012 23.7487 21.5763 21.9025 19.7137C20.2425 18.0988 19.165 17.4388 18.1838 17.4388C16.2787 17.4388 16.4175 18.985 16.435 20.855C16.4412 22.8825 16.4288 22.2413 16.4425 22.3688C16.3313 22.4125 16.0125 22.5 15.1813 22.5C7.25 22.5 2.085 9.91125 1.88625 7.505C1.955 7.49875 2.90125 7.5025 5.06875 7.50125Z" fill="black"/>
                        <clipPath id="clip0">
                        <rect width="30" height="30" fill="white"/>
                        </clipPath>
                        </svg>







                    a.header-link(href="tel:8(4912)51-23-22") 8(4912)51-23-22
                    a.header-link(href="tel:8(4912)51-23-22") 8(4912)51-23-22
                    a.header-link(href="mailto:info@Kids-go.ru") info@Kids-go.ru


            .wrapper-ic-btn
                a.ic-btn__favorites(href="#")
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/favorites.svg" data-src-small="img/ic/favorites.svg")
                a.ic-btn__search(href="#")
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/search.svg" data-src-small="img/ic/search.svg")
                a.ic-btn__lk(href="#")
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/lk.svg" data-src-small="img/ic/lk.svg")
                a.ic-btn__bascket(href="#")
                    .number-goods 14
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/basket.svg" data-src-small="img/ic/basket.svg")



