button.btn.btn-primary(type="button" data-toggle="modal" data-target="#basket-del") del

.modal.fade.show#basket-del
    .modal-dialog
        .modal-content
            .modal-body
                .title Точно удалить?
                form
                    .wrformkidsgoBtn-del
                        .form-btn-yes.del-btn  ДА
                        .form-btn-no.del-btn Нет