section.sec-basket
    .container
        .body-basket
            .basket-card-el
                .basket-card-el__name-img
                    .basket-card-el__img.b-lazy(data-src="img/main/main-1.png")
                    .basket-card-el__name
                        h2 Сложное и очень длинное название
                        h3 Фасовка 16 кг
                .basket-card-el__price-counter
                    .basket-card-el__price
                        .price__bottom
                            .price__new 420 000 ₽
                            .price__old 150 580 ₽
                    .basket-card-el__counter
                        .card-info__quantity
                            .card-info__minus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                            input.card-info__number(value=1)
                            .card-info__plus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")
                .basket-card-el__favorite-delite
                    .basket-card-el__favorite
                        img.ic-favorites.d-none.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                        img.ic-favorites.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                        span.favorites-text.d-none Из избранного
                        span.favorites-text В избранное
                    .basket-card-el__delite
                        img.ic-delite.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/del.svg" data-src-small="img/ic/del.svg")
                        span.delite-text Удалить
            .basket-card-el
                .basket-card-el__name-img
                    .basket-card-el__img.b-lazy(data-src="img/main/main-1.png")
                    .basket-card-el__name
                        h2 Сложное и очень длинное название
                        h3 Фасовка 16 кг
                .basket-card-el__price-counter
                    .basket-card-el__price
                        .price__bottom
                            .price__new 10 500 ₽
                            .price__old 12 780 ₽
                    .basket-card-el__counter
                        .card-info__quantity
                            .card-info__minus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                            input.card-info__number(value=1)
                            .card-info__plus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")
                .basket-card-el__favorite-delite
                    .basket-card-el__favorite
                        img.ic-favorites.d-none.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                        img.ic-favorites.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                        span.favorites-text.d-none Из избранного
                        span.favorites-text В избранное
                    .basket-card-el__delite
                        img.ic-delite.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/del.svg" data-src-small="img/ic/del.svg")
                        span.delite-text Удалить
            .basket-card-el
                .basket-card-el__name-img
                    .basket-card-el__img.b-lazy(data-src="img/main/main-1.png")
                    .basket-card-el__name
                        h2 Сложное и очень длинное название
                        h3 Фасовка 16 кг
                .basket-card-el__price-counter
                    .basket-card-el__price
                        .price__bottom
                            .price__new  500 ₽
                            .price__old 780 ₽
                    .basket-card-el__counter
                        .card-info__quantity
                            .card-info__minus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                            input.card-info__number(value=1)
                            .card-info__plus
                                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")
                .basket-card-el__favorite-delite
                    .basket-card-el__favorite
                        img.ic-favorites.d-none.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                        img.ic-favorites.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                        span.favorites-text.d-none Из избранного
                        span.favorites-text В избранное
                    .basket-card-el__delite
                        img.ic-delite.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/del.svg" data-src-small="img/ic/del.svg")
                        span.delite-text Удалить
        .body-basket-table
            .basket-table__row
                .basket-table__title Товаров на сумму:
                .basket-table__right 2320 ₽
            .basket-table__row
                .basket-table__title ваша Скидка:
                .basket-table__right.saler -720 ₽
            .basket-table__row
                .basket-table__title Итого:
                .basket-table__right.result 1600 ₽
            .basket-table-btn.button Оформить заказ


