.sec-news-main{
  padding: 43px 0;
  @include mq('tablet-wide') {
    padding: 75px 0;
  }
}

.body-news-main{

  @include mq('tablet-wide') {
    width: calc(100% + 35px);
    margin-left: -17px;
  }

  .ic-link{
    margin-top: 40px;
    display: block;
    @include mq('tablet-wide') {
      display: none;
    }
  }
}

.news-main-slide{
  @include mq('tablet') {
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  }
}

.news-main-container{
  padding: 15px;
}

.reviews-slide__star{
  margin-top: 10px;
}

.simple-rating{
  position: relative;
  display: inline-block;

  &:before{
    content:"";
    @if ($link-img == '') {
      background-image: url("./../../img/ic/Star.svg");
    } @else {
      background-image: url($link-img + "/img/ic/Star.svg");
    }
    display: block;
    width: 100px;
    height: 19px;

  }
}

.simple-rating__items{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.form__item__input{
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;

  &:checked,
  &:checked ~ .form__item__label:before{
    opacity: 1;
  }
}

.form__item__label{
  width: 20px;
  height: 100%;
  cursor: pointer;


  &:before{
    content:"";
    @if ($link-img == '') {
      background-image: url("./../../img/ic/star-b.svg");
    } @else {
      background-image: url($link-img + "/img/ic/star-b.svg");
    }
    display: block;
    height: 100%;
    opacity: 0;
    width: 100%;

  }

  &:hover:before,
  &:hover ~ .form__item__label:before,
  &:checked ~ .form__item__label:hover:before {
    opacity: 1;
  }
}

.dark-slide{
  .simple-rating{


    &:before{

      @if ($link-img == '') {
        background-image: url("./../../img/ic/Star-bor-w.svg");
      } @else {
        background-image: url($link-img + "/img/ic/Star-bor-w.svg");
      }
    }
  }

  .form__item__label{
    &:before {
      @if ($link-img == '') {
        background-image: url("./../../img/ic/Star-back-w.svg");
      } @else {
        background-image: url($link-img + "/img/ic/Star-back-w.svg");
      }
    }
  }
}