.wrapper-size
    .wrapper-input
        input(type="hidden" value="")
        .choice-of-size.select-value.price-text  5 кг

    .ii-product__selectors-wrp.js_size_selector
        .wrapper-list
            .list
                .list__itams(data-value="1") 5 кг
                .list__itams(data-value="2") 8 кг
                .list__itams(data-value="3") 12 кг
                .list__itams(data-value="4") 16 кг