.wrapper-size
    .wrapper-input
        input(type="hidden" value="")
        .choice-of-size.select-value.price-text  возрастанию цены

    .ii-product__selectors-wrp.js_size_selector
        .wrapper-list
            .list
                .list__itams.inp-desc(data-value="1") по возрастанию цены
                .list__itams.inp-mobl(data-value="1") ценa ↑
                .list__itams.inp-desc(data-value="2") по убыванию цены
                .list__itams.inp-mobl(data-value="2") ценa ↓
                .list__itams(data-value="3")  по пулярности
                .list__itams(data-value="4")  по новизне