.sec-catalog{
  padding: 0 0 120px;
  @include mq('desktop1350') {
    padding: 0 0 140px;
  }
}


.body-catalog{
  display: grid;
  grid-template-columns: 1fr;
  @include mq('tablet-wide') {
    grid-template-columns: 30% 1fr;
    grid-gap: 30px;
  }
  @include mq('desktop1350') {
    grid-template-columns: 24% 1fr;
  }

  .wrapper-btn-pagination{

    @include mq('tablet-wide') {
      grid-area: 2/2;
    }
  }
}
.wrapper-catalog{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;

  @include mq('tablet') {
    grid-template-columns: 1fr 1fr;
    height: fit-content;
  }
  @include mq('desktop1350') {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

