section.sec-catalog-main
    .container
        .top-block
            .catalog-main__title.title Каталог
            a.ic-link(href="#")
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/catalog.svg" data-src-small="img/main/catalog.svg")
        .body-catalog-main
            .card-good-body
                a.card-good__img.b-lazy(data-src="img/main/main-1.png" href="#")
                    .sale
                        .num -30%

                .name-favorite
                    a.name(href="#") Туф
                    .favorite-popular
                        img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                        img.b-lazy.favorite.active(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                .descript Декоративный материал, имитирующий природный камень.
                .price
                    .price__top Цена за 1м <sub> 2</sub>
                    .price__bottom
                        .price__new 400 ₽
                        .price__old 580 ₽
                .productQuantity-btn
                    .card-info__quantity
                        .card-info__minus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                        input.card-info__number(value=1)
                        .card-info__plus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")

                    .popular__btn.button В корзину
            .card-good-body
                a.card-good__img.b-lazy(data-src="img/main/main-1.png" href="#")

                    .sale
                        .num -30%

                .name-favorite
                    a.name(href="#") Туф
                    .favorite-popular
                        img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                        img.b-lazy.favorite.active(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                .descript Декоративный материал, имитирующий природный камень.
                .price
                    .price__top Цена за 1м <sub> 2</sub>
                    .price__bottom
                        .price__new 400 ₽
                        .price__old 580 ₽
                .productQuantity-btn
                    .card-info__quantity
                        .card-info__minus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                        input.card-info__number(value=1)
                        .card-info__plus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")

                    .popular__btn.button В корзину
            .card-good-body
                a.card-good__img.b-lazy(data-src="img/main/main-1.png" href="#")
                    .sale
                        .num -30%

                .name-favorite
                    a.name(href="#") Туф
                    .favorite-popular
                        img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                        img.b-lazy.favorite.active(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                .descript Декоративный материал, имитирующий природный камень.
                .price
                    .price__top Цена за 1м <sub> 2</sub>
                    .price__bottom
                        .price__new 400 ₽
                        .price__old 580 ₽
                .productQuantity-btn
                    .card-info__quantity
                        .card-info__minus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                        input.card-info__number(value=1)
                        .card-info__plus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")

                    .popular__btn.button В корзину
            .card-good-body
                a.card-good__img.b-lazy(data-src="img/main/main-1.png" href="#")
                    .sale
                        .num -30%

                .name-favorite
                    a.name(href="#") Туф
                    .favorite-popular
                        img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                        img.b-lazy.favorite.active(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                .descript Декоративный материал, имитирующий природный камень.
                .price
                    .price__top Цена за 1м <sub> 2</sub>
                    .price__bottom
                        .price__new 400 ₽
                        .price__old 580 ₽
                .productQuantity-btn
                    .card-info__quantity
                        .card-info__minus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                        input.card-info__number(value=1)
                        .card-info__plus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")

                    .popular__btn.button В корзину
            .card-good-body
                a.card-good__img.b-lazy(data-src="img/main/main-1.png" href="#")
                    .sale
                        .num -30%

                .name-favorite
                    a.name(href="#") Сложное и очень длинное название
                    .favorite-popular
                        img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                        img.b-lazy.favorite.active(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                .descript Декоративный материал, имитирующий природный камень.
                .price
                    .price__top Цена за 1м <sub> 2</sub>
                    .price__bottom
                        .price__new 400 ₽
                        .price__old 580 ₽
                .productQuantity-btn
                    .card-info__quantity
                        .card-info__minus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                        input.card-info__number(value=1)
                        .card-info__plus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")

                    .popular__btn.button В корзину
            .card-good-body
                a.card-good__img.b-lazy(data-src="img/main/main-1.png" href="#")
                    .sale
                        .num -30%

                .name-favorite
                    a.name(href="#") Туф
                    .favorite-popular
                        img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                        img.b-lazy.favorite.active(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                .descript Декоративный материал, имитирующий природный камень.
                .price
                    .price__top Цена за 1м <sub> 2</sub>
                    .price__bottom
                        .price__new 400 ₽
                        .price__old 580 ₽
                .productQuantity-btn
                    .card-info__quantity
                        .card-info__minus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                        input.card-info__number(value=1)
                        .card-info__plus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")

                    .popular__btn.button В корзину
            .card-good-body
                a.card-good__img.b-lazy(data-src="img/main/main-1.png" href="#")
                    .sale
                        .num -30%

                .name-favorite
                    a.name(href="#") Туф
                    .favorite-popular
                        img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf-in.svg" data-src-small="img/ic/faf-in.svg")
                        img.b-lazy.favorite.active(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/faf.svg" data-src-small="img/ic/faf.svg")
                .descript Декоративный материал
                .price
                    .price__top Цена за 1м <sub> 2</sub>
                    .price__bottom
                        .price__new 400 ₽
                        .price__old 580 ₽
                .productQuantity-btn
                    .card-info__quantity
                        .card-info__minus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/-.svg" data-src-small="img/ic/-.svg")

                        input.card-info__number(value=1)
                        .card-info__plus
                            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/+.svg" data-src-small="img/ic/+.svg")

                    .popular__btn.button В корзину
        a.ic-link.bot(href="#")
            img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/catalog.svg" data-src-small="img/main/catalog.svg")