section.sec-firstScreen
    .body-firstScreen
        .swiper-container.firstScreen-container
            .swiper-wrapper.firstScreen-wrapper
                .swiper-slide.firstScreen-slide.swiper-lazy(data-background="img/main/fs1.png")
                    .container
                        .body-slide
                            .block-l
                                h1.title-offer.firstScreen__title <span>Дизайнер,</span> работай с нами!
                                ul.firstScreen__list.square
                                    li Подбор декоративной штукатурки
                                    li Собственная база подбора
                            .block-r
                                .firstScreen-pagination
                                .firstScreen__descriprion В рамках спецификации современных стандартов, стремящиеся вытеснить традиционное производство

                        .wrapper-color
                            .item-color
                                .color__img.swiper-lazy(data-background="img/main/main-1.png")
                                .color__content
                                    .color-contend__title Декоративные штукатурки
                                    .color-contend__text-btn
                                        .color-contend__text Декоративная штукатурка — это отделочный материал для стен
                                        .wr-btn-color
                                            .color-contend__btn.button В каталог
                            .item-color
                                .color__img.swiper-lazy(data-background="img/main/main-2.png")
                                .color__content
                                    .color-contend__title Декоративные штукатурки
                                    .color-contend__text-btn
                                        .color-contend__text Декоративная штукатурка — это отделочный материал для стен
                                        .wr-btn-color
                                            .color-contend__btn.button В каталог

                .swiper-slide.firstScreen-slide.swiper-lazy(data-background="img/main/fs1.png")
                    .container
                        .body-slide
                            .block-l
                                .title-offer.firstScreen__title <span>Дизайнер,</span> работай с нами!
                                ul.firstScreen__list.square
                                    li Подбор декоративной штукатурки
                                    li Собственная база подбора
                            .block-r
                                .firstScreen-pagination
                                .firstScreen__descriprion В рамках спецификации современных стандартов, стремящиеся вытеснить традиционное производство
                .swiper-slide.firstScreen-slide.swiper-lazy(data-background="img/main/fs1.png")
                    .container
                        .body-slide
                            .block-l
                                .title-offer.firstScreen__title <span>Дизайнер,</span> работай с нами!
                                ul.firstScreen__list.square
                                    li Подбор декоративной штукатурки
                                    li Собственная база подбора
                            .block-r
                                .firstScreen-pagination
                                .firstScreen__descriprion В рамках спецификации современных стандартов, стремящиеся вытеснить традиционное производство





