section.sec-news-main
    .container
        .top-block
            h2.news-main__title.title Статьи
            a.ic-link(href="#")
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/news.svg" data-src-small="img/main/news.svg" alt="")
        .body-news-main
            .swiper-container.news-main-container
                .swiper-wrapper.news-main-wrapper
                    .swiper-slide.news-main-slide
                        a.new-card(href="#")
                            .new-card__img.swiper-lazy(data-background="img/main/main-01.png")

                            .new-card__name Декоративная штукатурка Sun Marcko: для тех кто выбирает лучшее
                            .new-card__descript В наши дни компания стала одним из лидеров строительного рынка. При производстве лаков, красок и покрытий применяются новые технологии, разрабатываемые  ...
                            .new-card__more Читать далее
                    .swiper-slide.news-main-slide
                        a.new-card(href="#")
                            .new-card__img.swiper-lazy(data-background="img/main/main-02.png")

                            .new-card__name Декоративная штукатурка Sun Marcko: для тех кто выбирает лучшее
                            .new-card__descript В наши дни компания стала одним из лидеров строительного рынка. При производстве лаков, красок и покрытий применяются новые технологии, разрабатываемые  ...
                            .new-card__more Читать далее
                    .swiper-slide.news-main-slide
                        a.new-card(href="#")
                            .new-card__img.swiper-lazy(data-background="img/main/main-03.png")

                            .new-card__name Декоративная штукатурка Sun Marcko: для тех кто выбирает лучшее
                            .new-card__descript В наши дни компания стала одним из лидеров строительного рынка. При производстве лаков, красок и покрытий применяются новые технологии, разрабатываемые  ...
                            .new-card__more Читать далее
                    .swiper-slide.news-main-slide
                        a.new-card(href="#")
                            .new-card__img.swiper-lazy(data-background="img/main/main-04.png")

                            .new-card__name Декоративная штукатурка Sun Marcko: для тех кто выбирает лучшее
                            .new-card__descript В наши дни компания стала одним из лидеров строительного рынка. При производстве лаков, красок и покрытий применяются новые технологии, разрабатываемые  ...
                            .new-card__more Читать далее
                    .swiper-slide.news-main-slide
                        a.new-card(href="#")
                            .new-card__img.swiper-lazy(data-background="img/main/main-01.png")

                            .new-card__name Декоративная штукатурка Sun Marcko: для тех кто выбирает лучшее
                            .new-card__descript В наши дни компания стала одним из лидеров строительного рынка. При производстве лаков, красок и покрытий применяются новые технологии, разрабатываемые  ...
                            .new-card__more Читать далее
            a.ic-link(href="#")
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/news.svg" data-src-small="img/main/news.svg" alt="")
