section.sec-reviews
    .container
        .top-block
            h2.title-popular.title Отзывы
            .nav-sl-reviews
                .reviews-button-prev.arrov-reviews
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/arrow-p.svg" data-src-small="img/ic/arrow-p.svg" alt="")
                .reviews-button-next.arrov-reviews
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/arrow-n.svg" data-src-small="img/ic/arrow-n.svg" alt="")
    .body-reviews
        .swiper-container.reviews-container
            .swiper-wrapper.reviews-wrapper
                .swiper-slide.reviews-slide
                    .link-reviews.swiper-lazy(data-background="img/ic/quotes.svg")
                        .reviews-slide__fio-star-img
                            .reviews-slide__img.swiper-lazy(data-background="img/ic/rev-face.svg")
                            .reviews-slide__fio-star
                                .reviews-slide__fio Сальвадор Дали
                                .reviews-slide__star.simple-rating
                                    .simple-rating__items
                                        input(type="radio" value="5" name="star0").form__item__input#form__item__input-500
                                        label(for="form__item__input-500").form__item__label
                                        input(type="radio" value="4" name="star0" checked).form__item__input#form__item__input-400
                                        label(for="form__item__input-400" ).form__item__label
                                        input(type="radio" value="3" name="star0").form__item__input#form__item__input-300
                                        label(for="form__item__input-300").form__item__label
                                        input(type="radio" value="2" name="star0").form__item__input#form__item__input-200
                                        label(for="form__item__input-200").form__item__label
                                        input(type="radio" value="1" name="star0").form__item__input#form__item__input-100
                                        label(for="form__item__input-100").form__item__label


                        .reviews-slide__descript Для создания проекта требовались уникальные текстуры, консультанты помогли опрелелиться с выборам. Создали конфетку! Заказчик доволен, проект ярко выделяется в моём портфолио)
                .swiper-slide.reviews-slide
                    .link-reviews.swiper-lazy(data-background="img/ic/quotes.svg")
                        .reviews-slide__fio-star-img
                            .reviews-slide__img.swiper-lazy(data-background="img/ic/rev-face.svg")
                            .reviews-slide__fio-star
                                .reviews-slide__fio Сальвадор Дали
                                .reviews-slide__star.simple-rating
                                    .simple-rating__items
                                        input(type="radio" value="5" name="star").form__item__input#form__ite__input-5
                                        label(for="form__ite__input-5").form__item__label
                                        input(type="radio" value="4" name="star" checked).form__item__input#for__item__input-4
                                        label(for="for__item__input-4" ).form__item__label
                                        input(type="radio" value="3" name="star").form__item__input#form__ite__input-3
                                        label(for="form__ite__input-3").form__item__label
                                        input(type="radio" value="2" name="star").form__item__input#form__ite__input-2
                                        label(for="form__ite__input-2").form__item__label
                                        input(type="radio" value="1" name="star").form__item__input#form__ite__input-1
                                        label(for="form__ite__input-1").form__item__label




                        .reviews-slide__descript Для создания проекта требовались уникальные текстуры, консультанты помогли опрелелиться с выборам. Создали конфетку! Заказчик доволен, проект ярко выделяется в моём портфолио)
                .swiper-slide.reviews-slide
                    .link-reviews.swiper-lazy(data-background="img/ic/quotes.svg")
                        .reviews-slide__fio-star-img
                            .reviews-slide__img.swiper-lazy(data-background="img/ic/rev-face.svg")
                            .reviews-slide__fio-star
                                .reviews-slide__fio Сальвадор Дали
                                .reviews-slide__star.simple-rating
                                    .simple-rating__items
                                        input(type="radio" value="5" name="star").form__item__input#fom__item__input-5
                                        label(for="fom__item__input-5").form__item__label
                                        input(type="radio" value="4" name="star" checked).form__item__input#fom__item__input-4
                                        label(for="fom__item__input-4" ).form__item__label
                                        input(type="radio" value="3" name="star").form__item__input#fom__item__input-3
                                        label(for="fom__item__input-3").form__item__label
                                        input(type="radio" value="2" name="star").form__item__input#fom__item__input-2
                                        label(for="fom__item__input-2").form__item__label
                                        input(type="radio" value="1" name="star").form__item__input#fom__item__input-1
                                        label(for="fom__item__input-1").form__item__label




                        .reviews-slide__descript Для создания проекта требовались уникальные текстуры, консультанты помогли опрелелиться с выборам. Создали конфетку! Заказчик доволен, проект ярко выделяется в моём портфолио)
                .swiper-slide.reviews-slide
                    .link-reviews.swiper-lazy(data-background="img/ic/quotes.svg")
                        .reviews-slide__fio-star-img
                            .reviews-slide__img.swiper-lazy(data-background="img/ic/rev-face.svg")
                            .reviews-slide__fio-star
                                .reviews-slide__fio Сальвадор Дали
                                .reviews-slide__star.simple-rating
                                    .simple-rating__items
                                        input(type="radio" value="5" name="star1").form__item__input#form__iem__input-50
                                        label(for="form__iem__input-50").form__item__label
                                        input(type="radio" value="4" name="star1" ).form__item__input#form__iem__input-40
                                        label(for="form__iem__input-40" ).form__item__label
                                        input(type="radio" value="3" name="star1" checked).form__item__input#form__iem__input-30
                                        label(for="form__iem__input-30").form__item__label
                                        input(type="radio" value="2" name="star1").form__item__input#form__iem__input-20
                                        label(for="form__iem__input-20").form__item__label
                                        input(type="radio" value="1" name="star1").form__item__input#form__iem__input-10
                                        label(for="form__iem__input-10").form__item__label




                        .reviews-slide__descript Для создания проекта требовались уникальные текстуры, консультанты помогли опрелелиться с выборам. Создали конфетку! Заказчик доволен, проект ярко выделяется в моём портфолио)
                .swiper-slide.reviews-slide
                    .link-reviews.swiper-lazy(data-background="img/ic/quotes.svg")
                        .reviews-slide__fio-star-img
                            .reviews-slide__img.swiper-lazy(data-background="img/ic/rev-face.svg")
                            .reviews-slide__fio-star
                                .reviews-slide__fio Сальвадор Дали
                                .reviews-slide__star.simple-rating
                                    .simple-rating__items
                                        input(type="radio" value="5" name="star").form__item__input#frm__item__input-5
                                        label(for="frm__item__input-5").form__item__label
                                        input(type="radio" value="4" name="star" checked).form__item__input#frm__item__input-4
                                        label(for="frm__item__input-4" ).form__item__label
                                        input(type="radio" value="3" name="star").form__item__input#frm__item__input-3
                                        label(for="frm__item__input-3").form__item__label
                                        input(type="radio" value="2" name="star").form__item__input#frm__item__input-2
                                        label(for="frm__item__input-2").form__item__label
                                        input(type="radio" value="1" name="star").form__item__input#frm__item__input-1
                                        label(for="frm__item__input-1").form__item__label




                        .reviews-slide__descript Для создания проекта требовались уникальные текстуры, консультанты помогли опрелелиться с выборам. Создали конфетку! Заказчик доволен, проект ярко выделяется в моём портфолио)
                .swiper-slide.reviews-slide
                    .link-reviews.swiper-lazy(data-background="img/ic/quotes.svg")
                        .reviews-slide__fio-star-img
                            .reviews-slide__img.swiper-lazy(data-background="img/ic/rev-face.svg")
                            .reviews-slide__fio-star
                                .reviews-slide__fio Сальвадор Дали
                                .reviews-slide__star.simple-rating
                                    .simple-rating__items
                                        input(type="radio" value="5" name="star").form__item__input#form__item__input-5
                                        label(for="form__item__input-5").form__item__label
                                        input(type="radio" value="4" name="star" checked).form__item__input#form__item__input-4
                                        label(for="form__item__input-4" ).form__item__label
                                        input(type="radio" value="3" name="star").form__item__input#form__item__input-3
                                        label(for="form__item__input-3").form__item__label
                                        input(type="radio" value="2" name="star").form__item__input#form__item__input-2
                                        label(for="form__item__input-2").form__item__label
                                        input(type="radio" value="1" name="star").form__item__input#form__item__input-1
                                        label(for="form__item__input-1").form__item__label




                        .reviews-slide__descript Для создания проекта требовались уникальные текстуры, консультанты помогли опрелелиться с выборам. Создали конфетку! Заказчик доволен, проект ярко выделяется в моём портфолио)
    .container
        .nav-sl-reviews.bot
            .reviews-button-prev.arrov-reviews
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/arrow-p.svg" data-src-small="img/ic/arrow-p.svg" alt="")
            .reviews-button-next.arrov-reviews
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/arrow-n.svg" data-src-small="img/ic/arrow-n.svg" alt="")
