section.sec-reviews
    .container
        .top-block
            .title-popular.title Отзывы
            .nav-sl-reviews
                .reviews-button-prev.arrov-reviews
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/arrow-p.svg" data-src-small="img/ic/arrow-p.svg")
                .reviews-button-next.arrov-reviews
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/arrow-n.svg" data-src-small="img/ic/arrow-n.svg")
    .body-reviews
        .swiper-container.reviews-container
            .swiper-wrapper.reviews-wrapper
                .swiper-slide.reviews-slide
                    a.link-reviews.swiper-lazy(data-background="img/ic/quotes.svg")
                        .reviews-slide__fio-star-img
                            .reviews-slide__img.swiper-lazy(data-background="img/ic/rev-face.svg")
                            .reviews-slide__fio-star
                                .reviews-slide__fio Сальвадор Дали
                                .reviews-slide__star

                        .reviews-slide__descript Для создания проекта требовались уникальные текстуры, консультанты помогли опрелелиться с выборам. Создали конфетку! Заказчик доволен, проект ярко выделяется в моём портфолио)
                .swiper-slide.reviews-slide
                    a.link-reviews.swiper-lazy(data-background="img/ic/quotes.svg")
                        .reviews-slide__fio-star-img
                            .reviews-slide__img.swiper-lazy(data-background="img/ic/rev-face.svg")
                            .reviews-slide__fio-star
                                .reviews-slide__fio Сальвадор Дали
                                .reviews-slide__star

                        .reviews-slide__descript Для создания проекта требовались уникальные текстуры, консультанты помогли опрелелиться с выборам. Создали конфетку! Заказчик доволен, проект ярко выделяется в моём портфолио)
                .swiper-slide.reviews-slide
                    a.link-reviews.swiper-lazy(data-background="img/ic/quotes.svg")
                        .reviews-slide__fio-star-img
                            .reviews-slide__img.swiper-lazy(data-background="img/ic/rev-face.svg")
                            .reviews-slide__fio-star
                                .reviews-slide__fio Сальвадор Дали
                                .reviews-slide__star

                        .reviews-slide__descript Для создания проекта требовались уникальные текстуры, консультанты помогли опрелелиться с выборам. Создали конфетку! Заказчик доволен, проект ярко выделяется в моём портфолио)
                .swiper-slide.reviews-slide
                    a.link-reviews.swiper-lazy(data-background="img/ic/quotes.svg")
                        .reviews-slide__fio-star-img
                            .reviews-slide__img.swiper-lazy(data-background="img/ic/rev-face.svg")
                            .reviews-slide__fio-star
                                .reviews-slide__fio Сальвадор Дали
                                .reviews-slide__star

                        .reviews-slide__descript Для создания проекта требовались уникальные текстуры, консультанты помогли опрелелиться с выборам. Создали конфетку! Заказчик доволен, проект ярко выделяется в моём портфолио)
                .swiper-slide.reviews-slide
                    a.link-reviews.swiper-lazy(data-background="img/ic/quotes.svg")
                        .reviews-slide__fio-star-img
                            .reviews-slide__img.swiper-lazy(data-background="img/ic/rev-face.svg")
                            .reviews-slide__fio-star
                                .reviews-slide__fio Сальвадор Дали
                                .reviews-slide__star

                        .reviews-slide__descript Для создания проекта требовались уникальные текстуры, консультанты помогли опрелелиться с выборам. Создали конфетку! Заказчик доволен, проект ярко выделяется в моём портфолио)
                .swiper-slide.reviews-slide
                    a.link-reviews.swiper-lazy(data-background="img/ic/quotes.svg")
                        .reviews-slide__fio-star-img
                            .reviews-slide__img.swiper-lazy(data-background="img/ic/rev-face.svg")
                            .reviews-slide__fio-star
                                .reviews-slide__fio Сальвадор Дали
                                .reviews-slide__star

                        .reviews-slide__descript Для создания проекта требовались уникальные текстуры, консультанты помогли опрелелиться с выборам. Создали конфетку! Заказчик доволен, проект ярко выделяется в моём портфолио)
    .container
        .nav-sl-reviews.bot
            .reviews-button-prev.arrov-reviews
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/arrow-p.svg" data-src-small="img/ic/arrow-p.svg")
            .reviews-button-next.arrov-reviews
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/arrow-n.svg" data-src-small="img/ic/arrow-n.svg")
