section.sec-step
    .container
        .top-block
            h2.catalog-main__title.title Как заказать?
        .body-step
            .step__img.b-lazy(data-src="img/step.png")
            .step-grid
                .step-grid__el
                    .step-grid__ic
                        img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/1.svg" data-src-small="img/main/1.svg" alt="")
                    .step-grid__title Оставить заявку
                    .step-grid__description В рамках спецификации современных стандартов, стремящиеся вытеснить традиционное производство
                .step-grid__el
                    .step-grid__ic
                        img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/2.svg" data-src-small="img/main/2.svg" alt="")
                    .step-grid__title Оставить заявку
                    .step-grid__description В рамках спецификации современных стандартов, стремящиеся вытеснить традиционное производство
                .step-grid__el
                    .step-grid__ic
                        img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/3.svg" data-src-small="img/main/3.svg" alt="")
                    .step-grid__title Оставить заявку
                    .step-grid__description В рамках спецификации современных стандартов, стремящиеся вытеснить традиционное производство
                .step-grid__el
                    .step-grid__ic
                        img.b-lazy.favorite(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/main/4.svg" data-src-small="img/main/4.svg" alt="")
                    .step-grid__title Оставить заявку
                    .step-grid__description В рамках спецификации современных стандартов, стремящиеся вытеснить традиционное производство